*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    font-size: 30px;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.foto{
    background-color: white;
    border:solid 1px;
    border-radius: 5px;
    display:flex;
    flex-wrap: wrap;

    /* align-items: center; */
    width: 250px;
    height: 350px;
    margin-top: 40px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.ff{
    /* align-self: center; */
    margin-top: 10px;
    margin-inline:auto;
    width: 80%;
    height: 70%;
    border-radius: 5px;
    border: solid 1px;
}
.san{
    font-family: "Cookie", serif;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.texto{
    display: flex;
    justify-content: center; 
    font-family: "Cookie", serif;
    font-weight: bold;
    color: rgb(116, 88, 93);
    width: 100dvw;
    text-align: center;
    margin-top:40px;
}
.boton{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
    border:solid 1px;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    font-family: "Bellota", serif;

}

.letra1, .letra2, .letra3, .letra4, .letra5 ,.letra6{
    animation-name:movimiento ;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    margin-inline: 10px;
}
.letra1{
    animation-delay: 0s;
}
.letra2{
    animation-delay: 1s;
}
.letra3{
    animation-delay: 2s;
}
.letra4{
    animation-delay: 2s;
}
.letra5{
    animation-delay: 3s;
}
.letra6{
    animation-delay: 4s;
}



@keyframes movimiento{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
}